OPENROUTER_API_KEY=""
MOONDREAM_API_KEY=""
RESEND_API_KEY=""
TUNNEL_TOKEN=""
#DATABASE_URL="ecto://user:pass@host/db_name"
#TYPESENSE_URL="http://typesense:8108"
#TYPESENSE_API_KEY="xyz"
#MOONDREAM_URL="https://api.moondream.ai/v1"
# MOONDREAM_API_KEY=""
#PHX_SERVER="true"
#ECTO_IPV6="false"
#POOL_SIZE="10"
#ADMIN_PASSWORD="your admin password"
#SENTRY_DSN="https://public@example.com/1"
#SECRET_KEY_BASE="testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttest"
#PHX_HOST="localhost"
#PORT="4000"
#DNS_CLUSTER_QUERY=""
