# vmemo
# PHX_HOST="localhost"
# PHX_SERVER="true"
# PORT="4000"
# DNS_CLUSTER_QUERY=""
# ECTO_IPV6="false"
# POOL_SIZE="10"
# SECRET_KEY_BASE="testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttest"
# ADMIN_TOKEN="your admin token"
# DATABASE_URL="postgres://user:pass@host/db_name"

# local (required in dev/test):
DATABASE_URL="postgres://postgres:postgres@localhost:10001/vmemo_dev"
TYPESENSE_URL="http://localhost:10002"
TYPESENSE_API_KEY="xyz"
MOONDREAM_URL="http://localhost:2020/v1/"
MOONDREAM_API_KEY="replace_with_your_moondream_api_key"

# external
OPENROUTER_API_KEY="replace_with_your_openrouter_api_key"
OPENROUTER_CHAT_MODEL="openrouter:openai/gpt-4o-mini"
OPENROUTER_VISION_MODEL="openrouter:google/gemma-4-26b-a4b-it"
RESEND_API_KEY="replace_with_your_resend_api_key"
SENTRY_DSN="https://public@example.com/1"
# SENTRY_ENV="production"
