# vmemo
# PHX_HOST="localhost"
# PHX_SERVER="true"
# PORT="4000"
# DNS_CLUSTER_QUERY=""
# ECTO_IPV6="false"
# POOL_SIZE="10"
# SECRET_KEY_BASE="testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttest"
# ADMIN_PASSWORD="your admin password"
# DATABASE_URL="postgres://user:pass@host/db_name"

# external
TYPESENSE_URL="http://typesense:8108"
TYPESENSE_API_KEY="xyz"
# MOONDREAM_URL="https://api.moondream.ai/v1"
MOONDREAM_API_KEY="replace_with_your_moondream_api_key"

OPENROUTER_API_KEY="replace_with_your_openrouter_api_key"
RESEND_API_KEY="replace_with_your_resend_api_key"
SENTRY_DSN="https://public@example.com/1"
# SENTRY_ENV="production"
