# vmemo
# SECRET_KEY_BASE="testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttest"
# ADMIN_PASSWORD="your admin password"
# PHX_HOST="localhost"
# PHX_SERVER="true"
# PORT="4000"
# ECTO_IPV6="false"
# POOL_SIZE="10"
# DNS_CLUSTER_QUERY=""

# external
# DATABASE_URL="ecto://user:pass@host/db_name"
# TYPESENSE_URL="http://typesense:8108"
# TYPESENSE_API_KEY="xyz"
# MOONDREAM_URL="https://api.moondream.ai/v1"
MOONDREAM_API_KEY=""
OPENROUTER_API_KEY=""

# RESEND_API_KEY=""
# SENTRY_DSN="https://public@example.com/1"
# SENTRY_ENV="staging"

# TUNNEL_TOKEN=""
